<div class="row">
  <div class="col-sm-5">
    <h3>About <%= @stylist.name %></h3>

    <hr>

    <form class="form-group" action="/stylist/<%= @stylist.id() %>" method="post">
      <input class="form-control" type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" type="submit">Delete <%= @stylist.name() %></button>
      <br>
      <p><em>
        Deleting a stylist will also delete all of their clients
      </em></p>
    </form>

  </div>

<!-- COLUMN TWO -->

    <div class="col-sm-5">
      <% if @clients.any?() %>
      <h3>Clients</h3>
        <ul>
          <% @clients.each do |client| %>
          <hr>
          <li><%= client.name %></li>
          <li><%= client.describe %></li>

          <form class="form-group" action="/client/<%= client.id() %>" method="post">
            <input class="form-control" type="hidden" name="_method" value="delete">
            <button class="btn btn-danger" type="submit">Delete <%= client.name() %></button>
          </form>
          <% end %>
        </ul>
      <% else %>
      <p>
        <%= @stylist.name %> has no clients. Use the form below to add some!
      </p>
      <% end %>

      <hr>

    <h3>Add a client</h3>
    <form class="form-group" action="/client_success" method="post">
      <input id="stylist_id" type="hidden" name="stylist_id" value="<%= @stylist.id %>">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">
      <label for="notes">Notes</label>
      <input class="form-control" type="text" name="notes">
      <button class="btn btn-primary" type="submit">Assign client to <%= @stylist.name %></button>
    </form>

    <a href='/'>Return to dashboard</a>

    </div>
<!-- COLUMN TWO -->



</div>
<hr>
